@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper Pagination Styling */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #E31F55;
  width: 30px;
  border-radius: 6px;
}
